<div class="edit-qty-wrapper">
    <div class="col s12 no-padding">
        <div class="row">
            <div class="col s12 no-padding">
                <a nohref class="waves-effect waves-light btn" (click)="editQty('add')"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 no-padding">
                <a nohref class="waves-effect waves-light btn" (click)="editQty('remove')"><i class="material-icons">remove</i></a>
            </div>
        </div>
    </div>
</div>